.drop-down select {
    border: none;
    font-family: 'Custom Font';
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    margin-block-start: 18px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}