/* App.cs */

@font-face {
  font-family: 'Custom Font';
  src: url('./components/assets/futura light bt.ttf') format('truetype');
}

.App {
  text-align: left;
  font-family: 'Custom font';
  background-color: #faf0e5;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
